# Generated per-machine files
/hosts/hardware-configuration.nix
/hosts/local.nix
/flake.lock

# Desktop state
/home-manager.backup

# Existing user state
gnome-initial-setup-done
pavucontrol.ini
QtProject.conf
.gsd-keyboard.settings-ported
obs-studio
heroic
Bitwarden
gnome-session
pulse
evolution
nautilus
clamtk
connections.db
rncbc.org
yelp
